In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
df= pd.read_csv('Copy of FIR_Details_Data.csv')
df.head()

C:\Users\Ansh\AppData\Local\Temp\ipykernel_11960\3542241665.py:1: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('Copy of FIR_Details_Data.csv')

,District_Name,UnitName,FIRNo,RI,Year,Month,Offence_From_Date,Offence_To_Date,FIR_Reg_DateTime,FIR_Date,...,VICTIM COUNT,Accused Count,Arrested Male,Arrested Female,Arrested Count\tNo.,Accused_ChargeSheeted Count,Conviction Count,FIR_ID,Unit_ID,Crime_No
0,Bagalkot,Amengad PS,0001/2016,1,2016,1,2015-12-27 12:00:00.000,2015-12-27 12:05:00.000,2016-01-05 11:00:00.000,05/01/2016,...,0,1,1,0,1,1,0,2016000002,1245,10470124520160001
1,Bagalkot,Amengad PS,0002/2016,1,2016,1,2016-01-12 17:30:00.000,2016-01-12 17:35:00.000,2016-01-12 19:00:00.000,12/01/2016,...,0,5,5,0,5,5,2,2016000003,1245,10470124520160002
2,Bagalkot,Amengad PS,0003/2016,1,2016,1,2016-01-12 17:45:00.000,2016-01-12 17:50:00.000,2016-01-12 19:30:00.000,12/01/2016,...,0,1,1,0,1,1,0,2016000004,1245,10470124520160003
3,Bagalkot,Amengad PS,0004/2016,1,2016,1,2016-01-14 21:30:00.000,2016-01-14 21:35:00.000,2016-01-15 14:00:00.000,15/01/2016,...,0,1,1,0,1,1,0,2016000005,1245,10470124520160004
4,Bagalkot,Amengad PS,0005/2016,1,2016,1,2016-01-18 15:00:00.000,2016-01-18 15:05:00.000,2016-01-18 19:30:00.000,18/01/2016,...,0,1,1,0,1,1,0,2016000006,1245,10470124520160005

In [3]:
df.columns

Index(['District_Name', 'UnitName', 'FIRNo', 'RI', 'Year', 'Month',
       'Offence_From_Date', 'Offence_To_Date', 'FIR_Reg_DateTime', 'FIR_Date',
       'FIR Type', 'FIR_Stage', 'Complaint_Mode', 'CrimeGroup_Name',
       'CrimeHead_Name', 'Latitude', 'Longitude', 'ActSection', 'IOName',
       'KGID', 'IOAssigned_Date', 'Internal_IO', 'Place of Offence',
       'Distance from PS', 'Beat_Name', 'Village_Area_Name', 'Male', 'Female',
       'Boy', 'Girl', 'Age 0', 'VICTIM COUNT', 'Accused Count',
       'Arrested Male', 'Arrested Female', 'Arrested Count\tNo.',
       'Accused_ChargeSheeted Count', 'Conviction Count', 'FIR_ID', 'Unit_ID',
       'Crime_No'],
      dtype='object')

In [4]:
df.drop(columns=['FIR_ID', 'Unit_ID', 'Crime_No','FIRNo'], inplace=True)
df

,District_Name,UnitName,RI,Year,Month,Offence_From_Date,Offence_To_Date,FIR_Reg_DateTime,FIR_Date,FIR Type,...,Boy,Girl,Age 0,VICTIM COUNT,Accused Count,Arrested Male,Arrested Female,Arrested Count\tNo.,Accused_ChargeSheeted Count,Conviction Count
0,Bagalkot,Amengad PS,1,2016,1,2015-12-27 12:00:00.000,2015-12-27 12:05:00.000,2016-01-05 11:00:00.000,05/01/2016,Non Heinous,...,0,1,0,0,1,1,0,1,1,0
1,Bagalkot,Amengad PS,1,2016,1,2016-01-12 17:30:00.000,2016-01-12 17:35:00.000,2016-01-12 19:00:00.000,12/01/2016,Non Heinous,...,0,0,0,0,5,5,0,5,5,2
2,Bagalkot,Amengad PS,1,2016,1,2016-01-12 17:45:00.000,2016-01-12 17:50:00.000,2016-01-12 19:30:00.000,12/01/2016,Non Heinous,...,0,0,0,0,1,1,0,1,1,0
3,Bagalkot,Amengad PS,1,2016,1,2016-01-14 21:30:00.000,2016-01-14 21:35:00.000,2016-01-15 14:00:00.000,15/01/2016,Non Heinous,...,0,0,1,0,1,1,0,1,1,0
4,Bagalkot,Amengad PS,1,2016,1,2016-01-18 15:00:00.000,2016-01-18 15:05:00.000,2016-01-18 19:30:00.000,18/01/2016,Heinous,...,0,0,0,0,1,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694186,Yadgir,Yadgiri Women PS,1,2024,1,2024-01-10 05:30:00.000,2024-01-10 21:30:00.000,2024-01-11 21:30:00.000,11/01/2024,Non Heinous,...,0,0,0,0,0,0,0,0,0,0
1694187,Yadgir,Yadgiri Women PS,1,2024,1,2024-01-19 22:30:00.000,2024-01-19 22:35:00.000,2024-01-29 19:30:00.000,29/01/2024,Heinous,...,0,1,0,0,1,0,0,0,0,0
1694188,Yadgir,Yadgiri Women PS,1,2024,2,2024-02-06 15:42:00.000,2024-02-06 15:45:00.000,2024-02-07 17:45:00.000,07/02/2024,Non Heinous,...,0,0,0,0,1,0,0,0,0,0
1694189,Yadgir,Yadgiri Women PS,1,2024,2,2024-02-19 12:10:00.000,2024-02-19 12:15:00.000,2024-02-24 17:00:00.000,24/02/2024,Heinous,...,0,0,0,0,5,0,0,0,0,0
1694190,Yadgir,Yadgiri Women PS,1,2024,2,2024-02-26 22:30:00.000,2024-02-26 22:45:00.000,2024-02-28 18:30:00.000,28/02/2024,Non Heinous,...,0,1,0,0,1,0,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694191 entries, 0 to 1694190
Data columns (total 37 columns):
 #   Column                       Dtype
---  ------                       -----
 0   District_Name                object
 1   UnitName                     object
 2   RI                           int64
 3   Year                         int64
 4   Month                        int64
 5   Offence_From_Date            object
 6   Offence_To_Date              object
 7   FIR_Reg_DateTime             object
 8   FIR_Date                     object
 9   FIR Type                     object
 10  FIR_Stage                    object
 11  Complaint_Mode               object
 12  CrimeGroup_Name              object
 13  CrimeHead_Name               object
 14  Latitude                     float64
 15  Longitude                    float64
 16  ActSection                   object
 17  IOName                       object
 18  KGID                         object
 19  IOAssigned_Date              object
 20  Internal_IO                  int64
 21  Place of Offence             object
 22  Distance from PS             object
 23  Beat_Name                    object
 24  Village_Area_Name            object
 25  Male                         int64
 26  Female                       int64
 27  Boy                          int64
 28  Girl                         int64
 29  Age 0                        int64
 30  VICTIM COUNT                 int64
 31  Accused Count                int64
 32  Arrested Male                int64
 33  Arrested Female              int64
 34  Arrested Count	No.           int64
 35  Accused_ChargeSheeted Count  int64
 36  Conviction Count             int64
dtypes: float64(2), int64(16), object(19)
memory usage: 478.2+ MB

In [6]:
# Assuming df is your DataFrame
date_time_columns = ['Offence_From_Date', 'FIR_Reg_DateTime', 'Offence_To_Date']

for column in date_time_columns:
    df[column] = pd.to_datetime(df[column]).dt.strftime('%Y-%m-%d %H:%M')

# Display the first few rows to verify the changes
# print(df.head())
 
date_time_columns2 = ['FIR_Date', 'IOAssigned_Date']
df[date_time_columns2] = df[date_time_columns2].apply(pd.to_datetime, format='%d/%m/%Y', errors='coerce')

# Convert int64 to int8
# int64_columns = df.select_dtypes(include='int64').columns
# df[int64_columns] = df[int64_columns].astype('int8')

# Convert normal object to categorical values
object_columns = df.select_dtypes(include='object').columns
df[object_columns] = df[object_columns].astype('category')

# Display the first few rows to verify the changes
print(df.head())

  District_Name    UnitName  RI  Year  Month Offence_From_Date  \
0      Bagalkot  Amengad PS   1  2016      1  2015-12-27 12:00
1      Bagalkot  Amengad PS   1  2016      1  2016-01-12 17:30
2      Bagalkot  Amengad PS   1  2016      1  2016-01-12 17:45
3      Bagalkot  Amengad PS   1  2016      1  2016-01-14 21:30
4      Bagalkot  Amengad PS   1  2016      1  2016-01-18 15:00

    Offence_To_Date  FIR_Reg_DateTime   FIR_Date     FIR Type  ... Boy Girl  \
0  2015-12-27 12:05  2016-01-05 11:00 2016-01-05  Non Heinous  ...   0    1
1  2016-01-12 17:35  2016-01-12 19:00 2016-01-12  Non Heinous  ...   0    0
2  2016-01-12 17:50  2016-01-12 19:30 2016-01-12  Non Heinous  ...   0    0
3  2016-01-14 21:35  2016-01-15 14:00 2016-01-15  Non Heinous  ...   0    0
4  2016-01-18 15:05  2016-01-18 19:30 2016-01-18      Heinous  ...   0    0

  Age 0 VICTIM COUNT  Accused Count  Arrested Male Arrested Female  \
0     0            0              1              1               0
1     0            0              5              5               0
2     0            0              1              1               0
3     1            0              1              1               0
4     0            0              1              1               0

  Arrested Count\tNo. Accused_ChargeSheeted Count Conviction Count
0                   1                           1                0
1                   5                           5                2
2                   1                           1                0
3                   1                           1                0
4                   1                           1                0

[5 rows x 37 columns]

In [7]:
df['Age 0'].unique()

array([ 0,  1,  3,  7,  2,  4, 12,  5, 11, 17, 10,  6,  9, 19, 20,  8, 15,
       23, 29, 18, 16, 13, 24, 21, 30, 14, 41, 25, 22, 28, 27, 31, 37],
      dtype=int64)

In [8]:

# df['Gender'] = df['Male'].apply(lambda x: 'Male' if x == 1 else 'Female')

# df.drop(['Male', 'Female'], axis=1, inplace=True)

# df['Boy_or_Girl'] = df['Boy'].apply(lambda x: 'Boy' if x == 1 else 'Girl')

# df.drop(['Boy', 'Girl'], axis=1, inplace=True)
# print(df.head())

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694191 entries, 0 to 1694190
Data columns (total 37 columns):
 #   Column                       Dtype
---  ------                       -----
 0   District_Name                category
 1   UnitName                     category
 2   RI                           int64
 3   Year                         int64
 4   Month                        int64
 5   Offence_From_Date            category
 6   Offence_To_Date              category
 7   FIR_Reg_DateTime             category
 8   FIR_Date                     datetime64[ns]
 9   FIR Type                     category
 10  FIR_Stage                    category
 11  Complaint_Mode               category
 12  CrimeGroup_Name              category
 13  CrimeHead_Name               category
 14  Latitude                     float64
 15  Longitude                    float64
 16  ActSection                   category
 17  IOName                       category
 18  KGID                         category
 19  IOAssigned_Date              datetime64[ns]
 20  Internal_IO                  int64
 21  Place of Offence             category
 22  Distance from PS             category
 23  Beat_Name                    category
 24  Village_Area_Name            category
 25  Male                         int64
 26  Female                       int64
 27  Boy                          int64
 28  Girl                         int64
 29  Age 0                        int64
 30  VICTIM COUNT                 int64
 31  Accused Count                int64
 32  Arrested Male                int64
 33  Arrested Female              int64
 34  Arrested Count	No.           int64
 35  Accused_ChargeSheeted Count  int64
 36  Conviction Count             int64
dtypes: category(17), datetime64[ns](2), float64(2), int64(16)
memory usage: 452.4 MB

In [10]:
# Assuming df is your DataFrame
boy_counts = df['Boy'].value_counts()

# Display unique values with total count
print(boy_counts)

Boy
0     1655454
1       34567
2        3240
3         562
4         182
5          69
6          34
7          32
9          12
8          11
13          5
18          4
11          4
10          3
12          2
24          1
21          1
14          1
17          1
22          1
31          1
15          1
23          1
29          1
45          1
Name: count, dtype: int64

In [11]:
# Assuming df is your DataFrame
Aboy_counts = df['Arrested Male'].value_counts()

# Display unique values with total count
print(Aboy_counts)

Arrested Male
0      971945
1      487484
2       97737
3       47525
4       29849
        ...
82          1
195         1
87          1
72          1
76          1
Name: count, Length: 89, dtype: int64

In [12]:
df['Arrested Male'].unique()

array([  1,   5,   2,   0,   3,   4,   8,  11,  10,  12,   7,  15,   6,
        20,  14,   9,  13,  18,  19,  16,  25,  28,  23,  36,  37,  17,
        21,  22,  24,  40,  27,  45,  31,  33,  26,  39,  29,  30,  57,
        42,  34,  47,  51,  61,  38,  52,  43,  35,  53,  72,  32,  62,
        44,  87, 195,  41,  82,  46,  74,  49,  58,  48,  56, 125,  55,
        79,  71,  66,  80, 143,  65, 107,  67,  69, 102,  63,  85,  70,
       130,  59,  92, 114, 155, 202,  93, 111,  54,  50,  76], dtype=int64)

In [13]:
# Place of Offence 
df['Place of Offence'].unique()

['KAMATAGI BUS STAND, KAMATAGI BUS STAND', 'RAKKASAGI VILLEGE IN FRONT MOUNESHWAR TEMPEL,..., 'RAKKASAGI VILLAEG BUS STAND, RAKKASAGI VILLAE..., 'BAGALKOT TO AMINAGAD SH-20 ROAD NEAR CHAPI FI..., 'AMBLIKOPPA BUS STAND, AMBLIKOPPA BUS STAND', ..., 'at Yadgiri New Busstand Near, at Yadgiri New ..., 'at Talak Village Infront of Complainat House,..., 'at Bilahar Village in Complainant House, at B..., 'at Opposite Mini Vidanasouda in Accuseds Hous..., 'Bandalli Village Near complainant's house, Ba...]
Length: 1304289
Categories (1304289, object): ['! st Cross,Anjaneya Temple,Panathur dinne, ! ..., '" Vasudha " Opposite Nitte Panchayath, " Vasu..., '"# 88, 4th main, Chandra Reddy Layout,, "# 88..., '"A" BLACK SARVICE ROAD, "A" BLACK SARVICE ROAD', ..., '“GANGA BUILDING” NEAR KARIYAMMA TEMPLE, “GANG..., '“KRISHN KUNJA” VIJIYANAND NAGAR, MAKADAVALA P..., '“PRAKRUTI NILAY” PLOT NO 190 BUDA SCHEEM NO 1..., '“T CROSS” ST MIRAS SCHOOL JUNCTION,, “T CROSS...]

In [14]:
df['Latitude']

0           0.000000
1           0.000000
2           0.000000
3           0.000000
4           0.000000
             ...
1694186    16.748633
1694187    16.844536
1694188    16.556974
1694189    16.772232
1694190    16.800526
Name: Latitude, Length: 1694191, dtype: float64

In [15]:
df['Longitude']

0           0.000000
1           0.000000
2           0.000000
3           0.000000
4           0.000000
             ...
1694186    77.133669
1694187    77.021722
1694188    77.159238
1694189    77.117018
1694190    77.141569
Name: Longitude, Length: 1694191, dtype: float64

In [16]:
# import folium

# # Filter rows with non-null values in Latitude and Longitude columns
# df_filtered = df.dropna(subset=['Latitude', 'Longitude'])

# # Create a map centered at the mean latitude and longitude
# map_center = [df_filtered['Latitude'].mean(), df_filtered['Longitude'].mean()]
# mymap = folium.Map(location=map_center, zoom_start=10)

# # Add markers for each point
# for idx, row in df_filtered.iterrows():
#     folium.Marker([row['Latitude'], row['Longitude']]).add_to(mymap)

# # Save the map to an HTML file
# mymap.save('map.html')

In [17]:
# import folium
# from IPython.display import HTML

# # Filter rows with non-null values in Latitude and Longitude columns
# df_filtered = df.dropna(subset=['Latitude', 'Longitude'])

# # Create a map centered at the mean latitude and longitude
# map_center = [df_filtered['Latitude'].mean(), df_filtered['Longitude'].mean()]
# mymap = folium.Map(location=map_center, zoom_start=10)

# # Add markers for each point
# for idx, row in df_filtered.iterrows():
#     folium.Marker([row['Latitude'], row['Longitude']]).add_to(mymap)

# # Save the map as an HTML string
# html_map = mymap._repr_html_()

# # Display the HTML map
# HTML(html_map)

In [18]:
df['IOName']

0                  R S BIRADAR   (PI)
1                   G.H.KUPPI   (PSI)
2                  S G HELVAR   (ASI)
3                  R S BIRADAR   (PI)
4             Karuneshagowda J   (PI)
                      ...
1694186               MANJULA   (PSI)
1694187    PRAKASH R. YATANOOR   (PI)
1694188    PRAKASH R. YATANOOR   (PI)
1694189    PRAKASH R. YATANOOR   (PI)
1694190              SRISHAIL   (ASI)
Name: IOName, Length: 1694191, dtype: category
Categories (24456, object): ['A A GADINAIK   (HC)', 'A A KADANI   (ASI)', 'A A MULLA   (ASI)', 'A A PATEL ABDULRAHIM PATEL (ASI)', ..., 'sunil  kadapatti (PSI)', 'veerayya Swamy   (ASI)', 'xxxxxxxxxxxxxxxxxxxx   (PSI)', 'yallappa BHIMAPPA goravanakoll (HC)']

In [19]:
# Select the desired columns
df_gender = df[['Girl', 'Boy']]  # Use double square brackets for column selection

# Count rows with more than one '1'
count = (df_gender == 1).sum(axis=1).gt(1).sum()  

# Print the count
print(f"Number of rows with more than one '1': {count}")
df_gender

Number of rows with more than one '1': 2816

         Girl  Boy
0           1    0
1           0    0
2           0    0
3           0    0
4           0    0
...       ...  ...
1694186     0    0
1694187     1    0
1694188     0    0
1694189     0    0
1694190     1    0

[1694191 rows x 2 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694191 entries, 0 to 1694190
Data columns (total 37 columns):
 #   Column                       Dtype
---  ------                       -----
 0   District_Name                category
 1   UnitName                     category
 2   RI                           int64
 3   Year                         int64
 4   Month                        int64
 5   Offence_From_Date            category
 6   Offence_To_Date              category
 7   FIR_Reg_DateTime             category
 8   FIR_Date                     datetime64[ns]
 9   FIR Type                     category
 10  FIR_Stage                    category
 11  Complaint_Mode               category
 12  CrimeGroup_Name              category
 13  CrimeHead_Name               category
 14  Latitude                     float64
 15  Longitude                    float64
 16  ActSection                   category
 17  IOName                       category
 18  KGID                         category
 19  IOAssigned_Date              datetime64[ns]
 20  Internal_IO                  int64
 21  Place of Offence             category
 22  Distance from PS             category
 23  Beat_Name                    category
 24  Village_Area_Name            category
 25  Male                         int64
 26  Female                       int64
 27  Boy                          int64
 28  Girl                         int64
 29  Age 0                        int64
 30  VICTIM COUNT                 int64
 31  Accused Count                int64
 32  Arrested Male                int64
 33  Arrested Female              int64
 34  Arrested Count	No.           int64
 35  Accused_ChargeSheeted Count  int64
 36  Conviction Count             int64
dtypes: category(17), datetime64[ns](2), float64(2), int64(16)
memory usage: 452.4 MB

In [21]:
import pandas as pd
import re

# Define regular expression pattern
pattern = r"\(.*?\)"  # Matches any characters between parentheses

def update_name(name):
  # Extract inner value using regex
  match = re.search(pattern, name)
  if match:
    return match.group(0)[1:-1].strip()  # Extract inner value, remove extra spaces
  else:
    # Return the original name if no parentheses found
    return name  # Change back to returning the original name

# Apply function to update IOName column
df['IOName'] = df['IOName'].apply(update_name)
df['IOName']

0           PI
1          PSI
2          ASI
3           PI
4           PI
          ...
1694186    PSI
1694187     PI
1694188     PI
1694189     PI
1694190    ASI
Name: IOName, Length: 1694191, dtype: object

In [22]:
df['IOName'].unique()

array(['PI', 'PSI', 'ASI', 'HC', 'Dy.SP', 'WHC', 'WPSI', 'DPI', 'SP',
       'WPI', 'WASI', 'PC', 'ADDL. SP', 'ACP', nan, 'ASP', 'WPC',
       'Pro. PSI', 'Pro.DySP', 'DSI', 'Pro. DYSP', 'Pro PSI', 'Sweeper',
       'DIG'], dtype=object)

In [23]:
df['FIR Type'].unique()

['Non Heinous', 'Heinous', NaN]
Categories (2, object): ['Heinous', 'Non Heinous']

In [24]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
# Fill NaN values with the mode (most frequent value)
mode = df['FIR Type'].mode()[0]  # Get the mode value
df['FIR Type'].fillna(mode, inplace=True)  # Fill NaN with the mode

# Label encode the 'FIR Type' column
le = LabelEncoder()
df['FIR Type_encoded'] = le.fit_transform(df['FIR Type'])

# Print the updated DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694191 entries, 0 to 1694190
Data columns (total 38 columns):
 #   Column                       Dtype
---  ------                       -----
 0   District_Name                category
 1   UnitName                     category
 2   RI                           int64
 3   Year                         int64
 4   Month                        int64
 5   Offence_From_Date            category
 6   Offence_To_Date              category
 7   FIR_Reg_DateTime             category
 8   FIR_Date                     datetime64[ns]
 9   FIR Type                     category
 10  FIR_Stage                    category
 11  Complaint_Mode               category
 12  CrimeGroup_Name              category
 13  CrimeHead_Name               category
 14  Latitude                     float64
 15  Longitude                    float64
 16  ActSection                   category
 17  IOName                       object
 18  KGID                         category
 19  IOAssigned_Date              datetime64[ns]
 20  Internal_IO                  int64
 21  Place of Offence             category
 22  Distance from PS             category
 23  Beat_Name                    category
 24  Village_Area_Name            category
 25  Male                         int64
 26  Female                       int64
 27  Boy                          int64
 28  Girl                         int64
 29  Age 0                        int64
 30  VICTIM COUNT                 int64
 31  Accused Count                int64
 32  Arrested Male                int64
 33  Arrested Female              int64
 34  Arrested Count	No.           int64
 35  Accused_ChargeSheeted Count  int64
 36  Conviction Count             int64
 37  FIR Type_encoded             int32
dtypes: category(16), datetime64[ns](2), float64(2), int32(1), int64(16), object(1)
memory usage: 467.9+ MB

In [25]:
df['Internal_IO']

0           42900007
1          123600010
2          124000015
3           42900007
4           97500025
             ...
1694186    158900500
1694187    158900511
1694188    158900511
1694189    158900511
1694190    158900459
Name: Internal_IO, Length: 1694191, dtype: int64

In [26]:
df.drop(['Internal_IO', 'FIR Type'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694191 entries, 0 to 1694190
Data columns (total 36 columns):
 #   Column                       Dtype
---  ------                       -----
 0   District_Name                category
 1   UnitName                     category
 2   RI                           int64
 3   Year                         int64
 4   Month                        int64
 5   Offence_From_Date            category
 6   Offence_To_Date              category
 7   FIR_Reg_DateTime             category
 8   FIR_Date                     datetime64[ns]
 9   FIR_Stage                    category
 10  Complaint_Mode               category
 11  CrimeGroup_Name              category
 12  CrimeHead_Name               category
 13  Latitude                     float64
 14  Longitude                    float64
 15  ActSection                   category
 16  IOName                       object
 17  KGID                         category
 18  IOAssigned_Date              datetime64[ns]
 19  Place of Offence             category
 20  Distance from PS             category
 21  Beat_Name                    category
 22  Village_Area_Name            category
 23  Male                         int64
 24  Female                       int64
 25  Boy                          int64
 26  Girl                         int64
 27  Age 0                        int64
 28  VICTIM COUNT                 int64
 29  Accused Count                int64
 30  Arrested Male                int64
 31  Arrested Female              int64
 32  Arrested Count	No.           int64
 33  Accused_ChargeSheeted Count  int64
 34  Conviction Count             int64
 35  FIR Type_encoded             int32
dtypes: category(15), datetime64[ns](2), float64(2), int32(1), int64(15), object(1)
memory usage: 453.3+ MB

In [27]:
df['VICTIM COUNT'].unique()

array([ 0,  1,  8, 16,  2,  3,  6,  5,  4], dtype=int64)

In [28]:
df['Age 0'].unique()

array([ 0,  1,  3,  7,  2,  4, 12,  5, 11, 17, 10,  6,  9, 19, 20,  8, 15,
       23, 29, 18, 16, 13, 24, 21, 30, 14, 41, 25, 22, 28, 27, 31, 37],
      dtype=int64)

In [29]:
df['Conviction Count'].unique()

array([ 0,  2,  1,  9,  4,  5, 11, 15,  7, 10,  8,  3,  6, 12, 19, 13, 14,
       18, 16, 21, 20, 40, 24, 28, 17, 23, 22, 38, 26, 32, 41, 37, 58, 33,
       35, 36, 27, 50, 29, 39, 31, 25, 30, 43, 34, 49, 42, 44, 74, 45],
      dtype=int64)

In [30]:
df['KGID']

0            1898733
1            1332599
2            1270757
3            1898733
4            1820048
             ...
1694186      1223959
1694187    2282157.0
1694188    2282157.0
1694189    2282157.0
1694190      1399013
Name: KGID, Length: 1694191, dtype: category
Categories (31011, object): [14, 114, 155, 184, ..., 'IPS67132', 'KGID 1121337', 'OO172', 'stps']

In [31]:
n_unique_kgid = df['KGID'].value_counts()

# Display the counts
print(n_unique_kgid)

KGID
1740099.0    12666
1899022       3636
2289480.0     2989
1895581.0     2955
2289991       2892
             ...
1217448          1
1217488.0        1
1217539          1
1217559          1
1238614          1
Name: count, Length: 31011, dtype: int64

In [32]:
df['Beat_Name']

0          RURAL BEAT NO 13
1           RURAL BEAT NO 6
2           RURAL BEAT NO 6
3          RURAL BEAT NO 13
4          RURAL BEAT NO 16
                 ...
1694186           BEAT NO 1
1694187           BEAT NO 2
1694188           BEAT NO 5
1694189           BEAT NO 1
1694190           BEAT NO 2
Name: Beat_Name, Length: 1694191, dtype: category
Categories (6780, object): ['0', '0 BEAT', '00', '00 BEAT', ..., 'yjkhj', 'ykjhkj', 'z', 'zzzzzzzzz']

In [33]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# # Get the counts of each beat name
# beat_name_counts = df['Beat_Name'].value_counts()

# # Create a countplot
# sns.countplot(x=beat_name_counts.index, y=beat_name_counts.values)
# plt.xticks(rotation=45)  # Rotate x-axis labels for readability with many categories
# plt.xlabel("Beat Name")
# plt.ylabel("Number of Incidents")
# plt.title("Distribution of Incidents by Beat Name")
# plt.show()

In [34]:
df['Distance from PS'].isnull().sum()

567

In [35]:
import pandas as pd
import re

def clean_distance(text):
  """
  Clean the distance string, preserving numerical values and directions.

  Args:
      text: The text string from the 'Distance from PS' column.

  Returns:
      A tuple containing the cleaned distance (numerical) and direction,
      or None for both if text is NaN or cleaning fails.
  """
  if pd.isna(text):
    return (None, None)  # Return None for both distance and direction if NaN
  pattern = r"(\d+)\s*([Kk]m)?\s*(.*)(\s*From Ps Towards\s*.*)?$"  # Improved regex pattern
  match = re.search(pattern, text)
  if match:
    distance = int(match.group(1))  # Convert distance to integer
    unit = match.group(2) or "km"  # Default to "km" if unit not found
    direction = match.group(3).strip() or "NA"  # Default to "NA" if direction not found
    return distance, direction
  else:
    return (None, text)  # Return None for distance and original text for direction if no match

# Create a copy of the DataFrame to avoid modifying the original
df_cleaned = df.copy()

# Fill null values with mode of 'Distance from PS'
mode_distance = df_cleaned['Distance from PS'].mode().iloc[0]  # Get the mode (most frequent value)
df_cleaned['Distance from PS'].fillna(mode_distance, inplace=True)

# Now you can use df_cleaned for further analysis
df_cleaned['Distance from PS']

0                   WEST FROM PS 12 KM
1                    WEST FROM PS 2 KM
2                    EAST FROM PS 3 KM
3                   WEST FROM PS 14 KM
4          NORTH FROM 24 KM TOWARDS PS
                      ...
1694186      3 Km From Ps Towards East
1694187     18 km From Ps Towards West
1694188     26 km From Ps Towards East
1694189      6 km From Ps Towards west
1694190    Towards north 5 kms from ps
Name: Distance from PS, Length: 1694191, dtype: category
Categories (420130, object): ['! KM EAST', '! KM EAST TO PS', '! KM East Said', '! KM East To PS', ..., '½KM TOWARDS EAST TO PS.', 'Èast 1 Km From PS', 'Èast 10 Km From PS', 'Èast Side 5 km']

In [36]:
remove_strings = ['Km', ' From', ' Ps ', 'Towards ','PS','km','ps',' s','Towrds','for','TOWARSD','KW','ONE  TOWERDS','TOWARDSA',' P ','.   ','. K m ','For']
patterns = [re.compile(s, flags=re.IGNORECASE) for s in remove_strings]  # Compile case-insensitive patterns

# Clean the 'Distance from PS' column in the copy
def clean_text(text):
  for pattern in patterns:
    text = pattern.sub('', text)  # Replace all occurrences of remove_strings (case-insensitive)
  return text

df_cleaned['Distance from PS'] = df_cleaned['Distance from PS'].apply(clean_text)
df_cleaned['Distance from PS']

0             WEST12
1              WEST2
2              EAST3
3             WEST14
4          NORTH 24
              ...
1694186        3 East
1694187       18 West
1694188       26 East
1694189        6 west
1694190      north 5
Name: Distance from PS, Length: 1694191, dtype: object

In [37]:
df_cleaned['Distance from PS'].isnull().sum()

0

In [38]:
import pandas as pd
import re

def extract_numerical(text):
  """
  Extracts numerical data from a text string.

  Args:
      text: The text string to extract numerical data from.

  Returns:
      The extracted numerical value as an integer, or None if no number is found.
  """
  match = re.search(r'\d+$', text)  # Removed (optional, for previous approach)
  if not match:  # Check if no match with previous regex
      match = re.search(r'(\d+)', text)  # Match any digits in the string
  if match:
      return int(match.group())
  else:
      return None

# Create a new column 'distance_numerical' to store extracted numerical values
df_cleaned['distance_numerical'] = df_cleaned['Distance from PS'].apply(extract_numerical)

# Drop rows with None values in 'distance_numerical' (optional)
# df_cleaned.dropna(subset=['distance_numerical'], inplace=True)

# Print the DataFrame (optional)
print(df_cleaned[['Distance from PS', 'distance_numerical']])

        Distance from PS  distance_numerical
0                WEST12                 12.0
1                 WEST2                  2.0
2                 EAST3                  3.0
3                WEST14                 14.0
4             NORTH 24                  24.0
...                  ...                 ...
1694186           3 East                 3.0
1694187          18 West                18.0
1694188          26 East                26.0
1694189           6 west                 6.0
1694190         north 5                  5.0

[1694191 rows x 2 columns]

In [39]:
pattern = r'[^\D]+'  # Matches any non-digit character

def remove_numerical(value):
    if pd.notnull(value):
        return re.sub(pattern, '', value)
    else:
        return value

df_cleaned['Distance from PS'] = df_cleaned['Distance from PS'].apply(remove_numerical)
df_cleaned['distance_numerical'] = df_cleaned['distance_numerical'].fillna(0).astype(int)

print(df_cleaned[['Distance from PS', 'distance_numerical']])

        Distance from PS  distance_numerical
0                  WEST                   12
1                  WEST                    2
2                  EAST                    3
3                  WEST                   14
4               NORTH                     24
...                  ...                 ...
1694186             East                   3
1694187             West                  18
1694188             East                  26
1694189             west                   6
1694190          north                     5

[1694191 rows x 2 columns]

In [40]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694191 entries, 0 to 1694190
Data columns (total 37 columns):
 #   Column                       Dtype
---  ------                       -----
 0   District_Name                category
 1   UnitName                     category
 2   RI                           int64
 3   Year                         int64
 4   Month                        int64
 5   Offence_From_Date            category
 6   Offence_To_Date              category
 7   FIR_Reg_DateTime             category
 8   FIR_Date                     datetime64[ns]
 9   FIR_Stage                    category
 10  Complaint_Mode               category
 11  CrimeGroup_Name              category
 12  CrimeHead_Name               category
 13  Latitude                     float64
 14  Longitude                    float64
 15  ActSection                   category
 16  IOName                       object
 17  KGID                         category
 18  IOAssigned_Date              datetime64[ns]
 19  Place of Offence             category
 20  Distance from PS             object
 21  Beat_Name                    category
 22  Village_Area_Name            category
 23  Male                         int64
 24  Female                       int64
 25  Boy                          int64
 26  Girl                         int64
 27  Age 0                        int64
 28  VICTIM COUNT                 int64
 29  Accused Count                int64
 30  Arrested Male                int64
 31  Arrested Female              int64
 32  Arrested Count	No.           int64
 33  Accused_ChargeSheeted Count  int64
 34  Conviction Count             int64
 35  FIR Type_encoded             int32
 36  distance_numerical           int32
dtypes: category(14), datetime64[ns](2), float64(2), int32(2), int64(15), object(2)
memory usage: 446.9+ MB

In [41]:
# def clean_distance_string(distance):
#     distance = distance.strip().upper()  # Convert to uppercase and remove leading/trailing spaces
#     distance = distance.replace('OUTH', 'SOUTH')  # Replace 'OUTH' with 'SOUTH'
#     distance = distance.replace('EAST', 'East')  # Replace 'EAST' with 'East'
#     distance = distance.replace('WEST', 'West')  # Replace 'WEST' with 'West'
#     distance = distance.replace('NORTH', 'North')  # Replace 'NORTH' with 'North'
#     distance = distance.strip().upper()  # Convert to uppercase and remove leading/trailing spaces
#     distance = distance.replace('THROUGH ONLINE', '')  # Remove 'THROUGH ONLINE'
#     distance = distance.replace('.', '')  # Remove periods
#     distance = distance.replace('TOWORDS', '')  # Remove 'TOWORDS'
#     distance = distance.replace('TO', '')  # Remove 'TO'
#     distance = distance.replace('UNDERSTAND', '')  # Remove 'UNDERSTAND'
#     distance = distance.replace('SSSSOUTH', 'SOUTH')  # Replace 'SSSSOUTH' with 'SOUTH'
#     distance = distance.replace('SSSOUTH', 'SOUTH')  # Replace 'SSSOUTH' with 'SOUTH'
#     distance = distance.replace('SOUT', 'SOUTH')  # Replace 'SOUT' with 'SOUTH'
#     distance = distance.replace('NORT', 'NORTH')  # Replace 'NORT' with 'NORTH'
#     distance = distance.replace('EAS', 'EAST')  # Replace 'EAS' with 'EAST'
#     distance = distance.replace('WES', 'WEST')  # Replace 'WES' with 'WEST'
#     distance = distance.strip()  # Remove any additional spaces
#     return distance

# # Apply the function to clean the 'Distance from PS' column
# df_cleaned['Distance from PS'] = df_cleaned['Distance from PS'].apply(clean_distance_string)

# # Count occurrences of each unique value after cleaning
# value_counts = df_cleaned['Distance from PS'].value_counts()

# # Print the least repeated values after cleaning
# print("Least repeated values after cleaning:")
# print(value_counts.head(30))

In [46]:
# pip install fuzzywuzzy
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from fuzzywuzzy import process

# Define a list of expected directions
expected_directions = ['EAST', 'WEST', 'NORTH', 'SOUTH']

# Function to clean and standardize the strings
def clean_distance_string(distance):
    distance = distance.strip().upper()  # Convert to uppercase and remove leading/trailing spaces
    
    # If the distance is empty, return it directly
    if not distance:
        return distance
    
    # Use fuzzy matching to find the closest expected direction
    closest_match = process.extractOne(distance, expected_directions)
    
    # If the similarity score is above a certain threshold (e.g., 80), replace the value
    if closest_match[1] >= 80:
        return closest_match[0]
    
    # If no close match found, return the original value
    return distance

# Apply the function to clean the 'Distance from PS' column
df_cleaned['Distance from PS'] = df_cleaned['Distance from PS'].apply(clean_distance_string)

# Count occurrences of each unique value after cleaning
value_counts = df_cleaned['Distance from PS'].value_counts()

# Print the least repeated values after cleaning
print("Least repeated values after fuzzy string matching:")
print(value_counts.head())

In [47]:
import pandas as pd
import re

# Define a regular expression pattern to match the basic directions
direction_pattern = r'\b(EAST|WEST|NORTH|SOUTH)\b'

# Function to extract the basic directions
def extract_basic_direction(distance):
    match = re.search(direction_pattern, distance.upper())  # Case-insensitive match
    if match:
        return match.group(1)  # Extract the direction
    else:
        return distance  # Return the original value if no match found

# Apply the function to the 'Distance from PS' column
df_cleaned['Distance from PS'] = df_cleaned['Distance from PS'].apply(extract_basic_direction)

# Count occurrences of each unique value after cleaning
value_counts = df_cleaned['Distance from PS'].value_counts()

# Print the least repeated values after cleaning
print("Least repeated values after simple extraction:")
print(value_counts.tail())

Least repeated values after simple extraction:
Distance from PS
E HOSURU VILLAGE  OUTH    1
K.M TO WARDS  OUTH        1
STATION GROUND            1
HANDRED METER NORTT       1
HALF KILOMETER OUTH       1
Name: count, dtype: int64

In [48]:
# Remove column 'RI' from df_cleaned
df_cleaned.drop(columns=['RI'], inplace=True)

# Reduce data types for 'Year' and 'Month'
df_cleaned['Year'] = df_cleaned['Year'].astype('int16')  # int16 can accommodate up to 32767
df_cleaned['Month'] = df_cleaned['Month'].astype('int8')  # int8 can accommodate up to 127

# Reduce data types for 'Male', 'Female', 'Boy', 'Girl', 'Age 0', 'VICTIM COUNT', 'Accused Count', 'Arrested Male', 'Arrested Female'
columns_to_reduce = ['Male', 'Female', 'Boy', 'Girl', 'Age 0', 'VICTIM COUNT', 'Accused Count', 'Arrested Male', 'Arrested Female']
for column in columns_to_reduce:
    max_value = df_cleaned[column].max()
    if max_value <= 127:  # Use int8 if max value fits within its range
        df_cleaned[column] = df_cleaned[column].astype('int8')
    elif max_value <= 32767:  # Use int16 if max value fits within its range
        df_cleaned[column] = df_cleaned[column].astype('int16')
    elif max_value <= 2147483647:  # Use int32 if max value fits within its range
        df_cleaned[column] = df_cleaned[column].astype('int32')
    else:
        df_cleaned[column] = df_cleaned[column].astype('int64')  # Default to int64 if max value exceeds int32 range

In [ ]:
import ydata_profiling

# Generate the data profile report
profile = ydata_profiling.ProfileReport(df_cleaned, title="FIR Insights")

# Save the report to an HTML file
profile.to_file("Accident_FIR.html")

# Display the report in Jupyter Notebook
profile.to_notebook_iframe()